<nav class="navbar navbar-dark navbar-expand-md">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fa fa-shield fa-lg" aria-hidden="true"></i> BuddyDuel
    </a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <ng-template [ngIf]="authService.isAuthenticated()">
          <li *ngIf="duels.length > 0" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-trophy" aria-hidden="true"></i> Duels
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a *ngFor="let duel of duels" [routerLink]="[ '/duels', duel._id ]"
                 class="dropdown-item">
                vs. {{ opponentName(duel) }} ({{ duel.sport }} ${{ duel.betAmount }}/game)
              </a>
            </div>
          </li>
        </ng-template>
      </ul>
      <form *ngIf="authService.isAuthenticated()" class="form-inline">
        <button class="btn btn-outline-light create-duel" data-toggle="modal"
                data-target="#create-duel-modal">
          Create a Duel
        </button>
      </form>
      <a *ngIf="!authService.isAuthenticated()"
         [href]="authService.loginURL"
         class="btn btn-outline-light">
        <i class="fa fa-user-circle" aria-hidden="true"></i> Login
      </a>
      <span *ngIf="authService.isAuthenticated()" class="username">
        <a [routerLink]="[ '/profile' ]">
          <i class="fa fa-user-circle" aria-hidden="true"></i>
          {{ authService?.getUser().name }}</a>
        |
        <a [href]="authService.logoutURL">Logout</a>
      </span>
    </div>
  </div>
</nav>
<div class="modal fade" id="create-duel-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Duel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-inline">
          <div class="form-group">
            <label for="amount" class="form-control-label">Bet per game:</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number" id="amount" name="amount" [(ngModel)]="betAmount"
                     class="form-control" aria-label="Game Bet Amount">
            </div>
          </div>
          <div class="form-group">
            <label for="sport">Sport:</label>
            <div class="input-group">
              <select class="form-control" id="sport" name="sport" [(ngModel)]="sport">
                <option *ngFor="let value of sports" [ngValue]="value">{{ value }}<option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button (click)="createDuel()" type="button" class="btn btn-primary">Create Duel</button>
      </div>
    </div>
  </div>
</div>
