<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button"
            data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">
      <i class="fa fa-shield fa-lg" aria-hidden="true"></i> BuddyDuel
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="authService.isAuthenticated()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-trophy" aria-hidden="true"></i> Duels
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a *ngFor="let duel of duels" (click)="onDuelSelect($event, duel)"
               class="dropdown-item" href="#">
              vs. {{ opponentName(duel) }}
            </a>
          </div>
        </li>
        <li *ngIf="authService.isAuthenticated()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-calendar" aria-hidden="true"></i> Weeks
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a *ngFor="let duelWeek of duelWeeks"
              [routerLink]="[ '/duel-weeks', duelWeek._id ]" class="dropdown-item">
              Week {{ duelWeek.weekNum }}
            </a>
          </div>
        </li>
      </ul>
      <button *ngIf="!authService.isAuthenticated()" (click)="authService.login()"
              class="btn btn-outline-info">
        <i class="fa fa-user-circle" aria-hidden="true"></i> Login
      </button>
      <span *ngIf="authService.isAuthenticated()" class="username">
        {{ authService?.getUserProfile().name }} |
        <a (click)="authService.logout($event)" href="#">Logout</a>
      </span>
    </div>
  </div>
</nav>
