.navbar { background-color: #95CB15 !important; }
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link {
  color: #00364A;
}
.username { color: #ffffff; }
.create-duel { margin-right: 3rem; }
.btn-outline-light { color: #ffffff; border-color: #ffffff; }
.btn-outline-light:hover, .btn-outline-light.active {
  background-color: #ffffff; border-color: #ffffff; color: #00364A;
}
