<nav class="navbar navbar-dark navbar-expand-md">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fa fa-shield fa-lg" aria-hidden="true"></i> BuddyDuel
    </a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <ng-template [ngIf]="authService.isAuthenticated()">
          <li *ngIf="duelsService.activeDuels().length > 0" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-trophy" aria-hidden="true"></i> Duels
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a *ngFor="let duel of duelsService.activeDuels()" (click)="onDuelSelect($event, duel)"
                 class="dropdown-item" href="#">
                vs. {{ opponentName(duel) }}
              </a>
            </div>
          </li>
          <li *ngIf="duelWeeks().length > 0" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-calendar" aria-hidden="true"></i> Weeks
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a *ngFor="let duelWeek of duelWeeks()"
                [routerLink]="[ '/duel-weeks', duelWeek._id ]" class="dropdown-item">
                Week {{ duelWeek.weekNum }}
              </a>
            </div>
          </li>
        </ng-template>
      </ul>
      <form *ngIf="authService.isAuthenticated()" class="form-inline">
        <button (click)="createDuel()" class="btn btn-outline-light create-duel">
          Create a Duel
        </button>
      </form>
      <button *ngIf="!authService.isAuthenticated()" (click)="authService.login()"
              class="btn btn-outline-light">
        <i class="fa fa-user-circle" aria-hidden="true"></i> Login
      </button>
      <span *ngIf="authService.isAuthenticated()" class="username">
        {{ authService?.getUserProfile().name }} |
        <a (click)="authService.logout($event)" href="#">Logout</a>
      </span>
    </div>
  </div>
</nav>
