.lock-in-help {
  margin-top: 1rem;
  color: #efe7da;
}
h2.loading {
  height: 2rem;
  margin: 0.5rem 0 0.5rem 0;
  width: 500px;
}
div.loading {
  height: 170px;
  margin-top: 1rem;
  width: 272px;
}
.loading {
  background-color: #cacaca;
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
}
.loading::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  animation: loading 1s infinite;
}
@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
.badge {
  font-size: 100%;
  font-weight: normal;
}
