<div class="card game-card">
  <table class="table table-bordered">
    <tr>
      <td>
        @if (!isReadOnly()) {
          <button
            (click)="pick(game.awayTeam)"
            [class.active]="isSelected(game.awayTeam)"
            class="btn btn-outline-primary"
          >
            <img
              class="team-logo"
              src="{{ logoPath(game.awayTeam) }}"
              alt="{{ game.awayTeam }} Logo"
            />
            {{ game.awayTeam }}
          </button>
        }
        @if (isReadOnly()) {
          <span
            class="team-name"
            [ngClass]="{ 'badge badge-primary': isSelected(game.awayTeam) }"
          >
            <img
              class="team-logo"
              src="{{ logoPath(game.awayTeam) }}"
              alt="{{ game.awayTeam }} Logo"
            />
            {{ game.awayTeam }}
          </span>
        }
        <small class="text-muted spread">{{
          game.awaySpread | pointSpread
        }}</small>
      </td>
      @if (game.awayScore !== null) {
        <td class="score">
          <span>{{ game.awayScore }}</span>
        </td>
      }
    </tr>
    <tr>
      <td>
        @if (!isReadOnly()) {
          <button
            (click)="pick(game.homeTeam)"
            [class.active]="isSelected(game.homeTeam)"
            class="btn btn-outline-primary"
          >
            <img
              class="team-logo"
              src="{{ logoPath(game.homeTeam) }}"
              alt="{{ game.homeTeam }} Logo"
            />
            {{ game.homeTeam }}
          </button>
        }
        @if (isReadOnly()) {
          <span
            class="team-name"
            [ngClass]="{ 'badge badge-primary': isSelected(game.homeTeam) }"
          >
            <img
              class="team-logo"
              src="{{ logoPath(game.homeTeam) }}"
              alt="{{ game.homeTeam }} Logo"
            />
            {{ game.homeTeam }}
          </span>
        }
        <small class="text-muted spread">{{
          game.homeSpread | pointSpread
        }}</small>
      </td>
      @if (game.homeScore !== null) {
        <td class="score">
          <span>{{ game.homeScore }}</span>
        </td>
      }
    </tr>
  </table>
  <div class="card-footer text-center">
    @if (game.time) {
      <div>
        @if (game.result) {
          <span
            class="badge"
            [ngClass]="{
              'badge-success': game.result === 'Win',
              'badge-danger': game.result === 'Loss',
              'badge-secondary': game.result === 'Push',
            }"
          >
            {{ game.result }}
          </span>
        }
        <span class="text-muted small time">{{ game.time }}</span>
      </div>
    }
    @if (!game.time && !showClear()) {
      <span class="text-muted small">
        {{ game.startTime | date: 'EEE, MMM d h:mm a' }}
      </span>
    }
    @if (showClear()) {
      <button (click)="clear()" class="btn btn-sm btn-outline-danger">
        <i class="fa fa-remove" aria-hidden="true"></i>
        Clear Pick
      </button>
    }
  </div>
</div>
