input.accept-duel {
  width: 50%;
}
.description-loading {
  height: 1rem;
  margin: 0.5rem 0 0.5rem 0;
  width: 100px;
}
.opponent-loading {
  height: 1rem;
  width: 250px;
}
.skeleton span {
  background-color: #e2e2e2;
  border-radius: 3px;
  display: block;
  position: relative;
  overflow: hidden;
}
.skeleton span::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  animation: loading 1s infinite;
}
@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
.active-duels {
  padding: 1rem;
}
.active-duels li {
  margin-bottom: 1rem;
}
.active-duels a {
  display: flex;
  border-radius: 0.25rem;
  padding: 5px;
}
.active-duels a:hover {
  background-color: rgba(0, 53, 73, 0.15);
  text-decoration: none;
}
.week-description {
  flex-grow: 2;
}
.opponent {
  opacity: 0.6;
}

.pending-duels li {
  margin-bottom: 1rem;
}
.pending-duels pre {
  color: #000000;
  display: inline;
  margin-right: 1rem;
}

.btn-light {
  color: #00364a;
  border-color: #ffffff;
}

.btn-light:hover,
.btn-light.active {
  background-color: #00364a;
  border-color: #ffffff;
  color: #ffffff;
}
