<div class="card text-center matchup-card">
  <div class="card-block">
    <button (click)="pick(matchup.awayTeam)"
            [class.active]="isSelected(matchup.awayTeam)"
            class="btn btn-outline-primary">
      {{ matchup.awayTeam }} {{ matchup.awaySpread | pointSpread }}
    </button>
    <div>@</div>
    <button (click)="pick(matchup.homeTeam)"
            [class.active]="isSelected(matchup.homeTeam)"
            class="btn btn-outline-primary">
      {{ matchup.homeTeam }} {{ matchup.homeSpread | pointSpread }}
    </button>
  </div>
</div>
