<div *ngIf="duelWeek">
  <div class="row">
    <div class="col-lg-8">
      <h2 class="text-truncate">
        Week {{ duelWeek.weekNum }}
        <small class="text-muted">vs {{ opponentName() }}</small>
      </h2>
    </div>
    <div class="col-lg">
      <p class="font-italic">Picked by {{ pickedBy() }}</p>
    </div>
  </div>
  <div *ngIf="duelWeek.record !== '0-0-0'" class="row">
    <div class="col alert alert-warning">
      This week's record is {{ duelWeek.record }} for winnings of
      {{ duelWeek.winnings | currency:'USD':true }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="d-flex flex-wrap justify-content-around">
        <duel-game *ngFor="let game of duelWeek.games"
                   [game]="game" [isPicker]="isPicker()"></duel-game>
      </div>
    </div>
  </div>
  <div *ngIf="canModifyPicks()" class="row">
    <div class="col text-center">
      <button (click)="save()" class="btn btn-lg btn-danger">
        <i class="fa fa-check-square-o" aria-hidden="true"></i> Lock In Picks
      </button>
      <div class="font-italic lock-in-help">
        You can lock in a few picks at a time or all at once. Just be sure your
        pick has been locked in before each game starts.
      </div>
    </div>
  </div>
</div>
