<div class="card text-center game-card">
  <div *ngIf="isReadOnly();else pickButtons" class="card-body">
    <span [ngClass]="{'badge badge-primary': isSelected(game.awayTeam)}">
      {{ game.awayTeam }} {{ game.awaySpread | pointSpread }}
    </span>
    <span class="score badge badge-secondary">{{ game.awayScore }}</span>
    <div>@</div>
    <span [ngClass]="{'badge badge-primary': isSelected(game.homeTeam)}">
      {{ game.homeTeam }} {{ game.homeSpread | pointSpread }}
    </span>
    <span class="score badge badge-secondary">{{ game.homeScore }}</span>
  </div>
  <ng-template #pickButtons>
    <div class="card-body">
      <button (click)="pick(game.awayTeam)"
              [class.active]="isSelected(game.awayTeam)"
              class="btn btn-outline-primary">
        {{ game.awayTeam }} {{ game.awaySpread | pointSpread }}
      </button>
      <div>@</div>
      <button (click)="pick(game.homeTeam)"
              [class.active]="isSelected(game.homeTeam)"
              class="btn btn-outline-primary">
        {{ game.homeTeam }} {{ game.homeSpread | pointSpread }}
      </button>
    </div>
  </ng-template>
  <div class="card-footer">
    <div *ngIf="game.result">
      <span class="badge"
            [ngClass]="{'badge-success': game.result === 'Win', 'badge-danger': game.result === 'Loss', 'badge-secondary': game.result === 'Push' }">
        {{ game.result }}
      </span>
      <span class="text-muted small">- {{ game.time }}</span>
    </div>
    <span *ngIf="!game.result" class="text-muted small">
      {{ game.startTime | date:'EEE, MMM d h:mm a' }}
    </span>
  </div>
</div>
