a { color: #E55812; }
input.accept-duel { width: 15rem; }
.pending-duels { list-style: none; }
form.accept-duel { margin-top: 1rem; }
.btn-secondary { color: #00364A; border-color: #ffffff; }
.btn-secondary:hover, .btn-secondary.active {
  background-color: #00364A; border-color: #ffffff; color: #ffffff;
}
