<div class="row">
  <div class="col"><h1>Welcome to Buddy Duel!</h1></div>
</div>
<div *ngIf="authService.isAuthenticated()" class="row">
  <div class="col-7">
    <div *ngIf="duelsService.pendingDuels().length > 0">
      <h3>Pending Duels - give the code to your friend</h3>
      <ul>
        <li *ngFor="let duel of duelsService.pendingDuels()">
          <pre>{{ duel._id }}</pre>
        </li>
      </ul>
    </div>
    <h3>Active Duels</h3>
    <ul *ngIf="duelsService.activeDuels().length > 0">
      <li *ngFor="let duel of duelsService.activeDuels()">{{ duel._id }}</li>
    </ul>
    <span *ngIf="duelsService.activeDuels().length < 1">No active duels</span>
  </div>
  <div class="col">
    <button (click)="createDuel()" class="btn btn-success create-duel pull-right">
      Create a Duel
    </button>
    <form class="form-inline pull-right">
      <input #duelInput type="text" class="form-control accept-duel" placeholder="Duel Code" />
      <button (click)="acceptDuel(duelInput.value)" class="btn btn-primary">
        Accept Duel
      </button>
    </form>
  </div>
</div>
<div *ngIf="!authService.isAuthenticated()" class="row">
  <div class="col"><h2>Sign up today to start dueling your friends!</h2></div>
</div>
